<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/trading_db</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">ngango</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="toka.domain.Province" />
		<mapping class="toka.domain.District" />
		<mapping class="toka.domain.UserCategory" />
		<mapping class="toka.domain.Users" />
		<mapping class="toka.domain.LoginHistoric" />
		<mapping class="toka.domain.Contact" />
		<mapping class="toka.domain.Country" />
		<mapping class="toka.domain.ListOfMenu" />
		<mapping class="toka.domain.MenuGroup" />
		<mapping class="toka.domain.MenuAssignment" />
		<mapping class="toka.domain.Documents" />
		<mapping class="toka.domain.UploadingFiles" />
		<mapping class="toka.domain.Branch" />
		<mapping class="toka.domain.Product" />
		<mapping class="toka.domain.PerishedProduct" />
		<mapping class="toka.domain.SoldProduct" />
		<mapping class="toka.domain.OrderProduct" />
		<mapping class="toka.domain.ProductCategory" />
	</session-factory>
</hibernate-configuration>

